/* CSS for header and navigation */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo img {
  width: auto;
  height: 41px;
  object-fit: cover;
}

.name ul {
  margin-inline: auto;
  font-family: Helvetica;
}

.navigation ul {
  list-style: none;
  display: flex;
  font-family: Helvetica;
}

.navigation li {
  margin-right: 20px;
  font-family: Helvetica;
}

/* CSS for the "Introduction" section
.who-what {
  overflow: hidden;
  font-size: 20px;
  text-align: left;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.homepage {
  width: auto;
  height: 50px;
}

/* CSS for the scrolling animation
.scrolling-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.scroll-text {
  display: inline-block;
  padding-right: 1em;
  text-decoration: underline;
  animation: scrollText 10s linear infinite alternate;
}

@keyframes scrollText {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}*/


/* CSS for gallery */
#gallery {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.gallery-item {
  flex: 1;
  max-width: calc(33.33% - 20px);
  position: relative;
  margin-bottom: 20px;
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.caption {
  text-align: center;
  margin-top: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 4px;
  padding-bottom: 4vw;
}

.caption h1 {
  margin: 0;
  width: 50%;
  float: left;
  font-size: 15px;
  line-height: 1vh;
  text-align: left;
  letter-spacing: .03em;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 4px;
}
.caption h2 {
  margin: 0;
  width: 50%;
  float: right;
  font-size: 15px;
  line-height: 1vh;
  text-align: right;
  letter-spacing: .03em;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 4px;
}

