/* CSS for the header and navigation */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo img {
  width: auto;
  height: 41px;
  object-fit: cover;
}

/* CSS for the navigation links */
.navigation a {
  text-decoration: none;
  color: black;
  transition: color 0.3s, text-decoration 0.3s;
}

.navigation a:hover {
  color: #FF5100;
  text-decoration: underline;
}

.navigation ul {
  list-style: none;
  display: flex;
  font-family: Helvetica;
}

.navigation li {
  margin-right: 20px;
  font-family: Helvetica;
}

/* CSS for the "Introduction" section */
.who-what {
  font-size: 1.5rem;
  font-family: Helvetica;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5rem;
}

.who, .what {
  margin: 0;
}

.homepage {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* CSS for the scrolling animation is still not working */
@keyframes textChangeAndFadeOut {
  0% {
    opacity: 1;
    transform: translateY(20);
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.scroll-text {
  display: inline-block;
  color: #FF5100;
  text-decoration: underline;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  animation: textChangeAndFadeOut 4s linear infinite alternate, textFadeIn 2s linear alternate;
}


/* CSS for gallery */
#gallery {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.gallery-item {
  flex: 0 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  position: relative;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  #gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery-item {
    flex: 1;
    max-width: 100%;
  }
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.caption {
  text-align: center;
  margin-top: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 4px;
  padding-bottom: 4vw;
  text-decoration: none;
  color: black;
}

.caption h1 {
  margin: 0;
  width: 50%;
  float: left;
  font-size: 15px;
  line-height: 1vh;
  text-align: left;
  letter-spacing: .03em;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 4px;
}

.caption h2 {
  margin: 0;
  width: 50%;
  float: right;
  font-size: 15px;
  line-height: 1vh;
  text-align: right;
  letter-spacing: .03em;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 4px;
}

/* CSS for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  margin-top: 60px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
}

.modal-header {
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  color: white;
  background-color: transparent;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h1 {
  margin: 0;
}

.tools {
  font-size: 24px;
}

.tools i {
  margin-right: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.project-info {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.gallery-item:hover .project-info {
  display: block;
}

.modal-main-content {
  /* Styling for the main content inside the modal */
}



